<div class="image-container position-relative w-100">
  <img
    src="assets/careers/careerHero.jpg"
    alt=""
    class="w-100"
    style="height: 600px"
  />
  <div class="text-overlay text-white">
    <h1 class="text-center"><span>Ready</span></h1>
    <h1>to make a difference</h1>
  </div>
</div>

<div class="container-fluid bg-white topSection">
  <!-- About Section -->
  <div class="row d-flex flex-column flex-md-row align-items-center">
    <div class="col-12 col-md-7 mt-5 p-5 text-center">
      <div class="row g-3">
        <!-- Top Row with 3 Cards -->
        <div class="col-12 d-flex justify-content-center mb-3">
          <div class="card mx-2" style="width: 8rem">
            <img
              src="assets/company/compIcon1.png"
              class="card-img-top bouncing-icon-1"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title">Place to showcase your talent</h6>
            </div>
          </div>
          <div class="card mx-2" style="width: 8rem">
            <img
              src="assets/company/compIcon2.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title">Cozy Workplace</h6>
            </div>
          </div>
          <div class="card mx-2" style="width: 8rem">
            <img
              src="assets/company/compIcon3.png"
              class="card-img-top bouncing-icon-2"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title">Flexible Hours</h6>
            </div>
          </div>
        </div>
        <!-- Bottom Row with 2 Cards Centered -->
        <div class="col-12 d-flex justify-content-center">
          <div class="d-flex justify-content-center">
            <div class="card mx-2" style="width: 8rem">
              <img
                src="assets/company/compIcon4.png"
                class="card-img-top bouncing-icon"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Food Allowances</h6>
              </div>
            </div>
            <div class="card mx-2" style="width: 8rem">
              <img
                src="assets/company/compIcon5.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Place to Learn and Develop</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-5 d-flex align-items-center justify-content-end mt-4 p-3"
    >
      <img src="assets/company/company4.png" alt="" class="img-fluid" />
    </div>
  </div>

  <!-- Life at Sp Cards -->
  <div class="lifeCards py-4 px-2">
    <div class="container-fluid text-center">
      <h1 class="pb-5"><strong>Life @SprintPark</strong></h1>
      <div class="row d-flex justify-content-center px-3 mb-4">
        <!-- Top row -->
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
          <div class="card h-100 text-start border-0">
            <div class="card-body d-flex flex-column p-4">
              <h4 class="card-title">Growth</h4>
              <p>
                We are dedicated to providing a workplace where employees can
                grow and thrive.
              </p>
              <ol class="card-text flex-grow-1">
                <li>Equal Opportunities</li>
                <li>Career Advancement</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
          <div class="card h-100 text-start border-0">
            <div class="card-body d-flex flex-column p-4">
              <h4 class="card-title">Learning</h4>
              <p>
                Every employee should get their fair share of opportunities to
                share their ideas and become a part of organization’s success.
              </p>
              <ol class="card-text flex-grow-1">
                <li>Technical and Leadership Training</li>
                <li>Team Building Workshops</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
          <div class="card h-100 text-start border-0">
            <div class="card-body d-flex flex-column p-4">
              <h4 class="card-title">Compensation and Benefits</h4>
              <p>
                We believe in competitive wages that promises a good life to our
                employees and their families.
              </p>
              <ol class="card-text flex-grow-1">
                <li>On time salary & Incentives</li>
                <li>Annual raise & Promotions</li>
                <li>Meal Allowances</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center px-3 mt-4">
        <!-- Bottom row -->
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
          <div class="card h-100 text-start border-0">
            <div class="card-body d-flex flex-column p-4">
              <h5 class="card-title">Professional Development</h5>
              <p>
                We are committed to enhancing the lives of individuals in our
                team and helping them grow as people and as professionals.
              </p>
              <ol class="card-text flex-grow-1">
                <li>Open to ideas</li>
                <li>Manager’s support</li>
                <li>Collaboration and Team Spirit</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2 d-flex justify-content-center">
          <div class="card h-100 text-start border-0">
            <div class="card-body d-flex flex-column p-4">
              <h5 class="card-title">Work Environment</h5>
              <p>
                We believe in a big family and treat all our members like one.
              </p>
              <ol class="card-text flex-grow-1">
                <li>Recognition of work</li>
                <li>Personal achievement appreciation</li>
                <li>Work life balance</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Open Positions -->
  <div class="open p-5 mt-5">
    <div class="text-center mb-4 ps-5">
      <h1>See Open Positions</h1>
      <p>
        SprintPark is a place where curious minds come together to help others
        work better. We learn from our mistakes and constantly renew, rethink,
        and reinvent to create something better. See if you fit below. Are you
        interested in one of our open positions? Click on the expertise and job
        title you’re interested in and who knows, we might see you soon!
      </p>
    </div>
    <div class="table-container ps-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Department</th>
            <th scope="col">Job ID</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>HR Department</td>
            <td>100245</td>
            <td>Hyderabad</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Marketing</td>
            <td>100321</td>
            <td>Bangalore</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Software Development</td>
            <td>100401</td>
            <td>Hyderabad</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Business Development</td>
            <td>100511</td>
            <td>USA</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Administration</td>
            <td>100521</td>
            <td>Hyderabad</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Contact for Job -->
  <div class="container mt-5 mb-5">
    <div class="row">
      <!-- Form Column -->
      <div class="col-md-6">
        <div class="d-flex flex-column justify-content-center h-100">
          <h2>Job not Listed? You can still apply!</h2>
          <p class="mt-3">
            Are you a student looking for an internship at SprintPark? Or are
            you interested in a role at SprintPark but can’t find what you’re
            looking for? Send our Talent Team your application and
            CV/Portfolio.<br />
            Want to gain experience while still in school or studying but don’t
            have the time for a full-time job? Mail
            <a href="mailto:info@sprintpark.com">info@sprintpark.com</a>.
          </p>
        </div>
      </div>

      <!-- Info Column -->
      <div class="col-md-6 coll">
        <div class="card p-4 shadow-sm job-list">
          <h3 class="card-title mb-4">Apply Now</h3>
          <form>
            <div class="mb-3">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                type="text"
                class="form-control"
                id="fullName"
                placeholder="John Doe"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="john.doe@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Your Message</label>
              <textarea
                id="description"
                class="form-control"
                rows="4"
                placeholder="Please mention your skills or message here..."
              ></textarea>
            </div>
            <div class="mb-3">
              <label for="fileInput" class="form-label">Choose File</label>
              <input type="file" class="form-control" id="fileInput" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <a
    href="https://sprintpark6-dev-ed.develop.my.site.com/careers/s/"
    class="nav-link"
    target="_blank"
  >
    <button>Careers</button></a
  >
</div>
<div>
  <iframe
    src="https://sprintpark6-dev-ed.develop.my.site.com/careers/s/"
    title="Career page"
    frameborder="0"
  >
  </iframe>
</div>
<div>
  <iframe src="" frameborder="0"></iframe>
</div>
