<div class="top"></div>

<div class="heroImage">
  <img src="assets/company/companyHero.jpg" alt="Company Hero Image" />
  <div class="hero-text">
    <h1 class="text-black">Welcome to <span>SprintPark</span></h1>
  </div>
</div>

<div class="info-section py-3 text-center mt-4 mb-4">
  <h4 class="mb-4 mx-5">
    <strong
      >SprintPark was started with a vision to revolutionize IT solutions.
      <br />
      Our ultimate objective is to be the most trusted provider of IT Solutions
      recognized. <br />
      for our dedication to quality, innovative thinking and client
      fulfillment.</strong
    >
  </h4>
</div>

<div class="achievements">
  <img src="assets/company/companySubHero1.png" alt="Company Sub Hero" />
  <div class="overlay container">
    <div
      class="row d-flex justify-content-center align-items-center text-center px-5"
    >
      <div class="col">
        <h1 #professionals>0+</h1>
        <h5>Professionals working</h5>
      </div>
      <div class="col">
        <h1 #partners>0+</h1>
        <h5>Strategic Partners</h5>
      </div>
      <div class="col">
        <h1 #projects>0+</h1>
        <h5>Projects Completed</h5>
      </div>
    </div>
  </div>
</div>

<!-- Core Values -->
<div class="container coreValues mb-5 mt-5">
  <div
    class="row d-flex align-items-center justify-content-center g-5 mt-5 p-5"
  >
    <div class="col-md-7 mt-5">
      <h3>Our Core Values</h3>
      <p style="color: #606062">
        SprintPark has clearly stated principles about the organization’s
        vision, mission, and principles. That way, everyone is aligned around a
        guiding philosophy to serve employees, customers, and the broader
        community.
      </p>
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col d-flex align-items-center">
          <div class="card align-items-center text-center p-3">
            <img
              src="assets/company/integrityIconn.jpg"
              class="card-img-top"
              alt="Integrity Image"
            />
            <div class="card-body">
              <h5 class="card-title">Integrity</h5>
              <p class="card-text">
                Integrity is the fundamental basis for all that we do at
                SprintPark. We pledge to conduct ourselves with the highest
                standards while engaging with partners, stakeholders, and
                clients.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card align-items-center text-center p-3">
            <img
              src="assets/company/workIconn.jpg"
              class="card-img-top"
              alt="Work Image"
            />
            <div class="card-body">
              <h5 class="card-title">Team Work</h5>
              <p class="card-text">
                Our success is largely attributed to our togetherness. We
                promote a cooperative workplace where group contributions are
                acknowledged and teamwork is valued.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card align-items-center text-center p-3">
            <img
              src="assets/company/commitmentIconn.jpg"
              class="card-img-top"
              alt="Commitment Image"
            />
            <div class="card-body">
              <h5 class="card-title">Commitment</h5>
              <p class="card-text">
                Our commitment lies in offering outstanding service and adding
                value for those we serve. At SprintPark, we go above and beyond
                to make sure that the needs and expectations of the clients are
                met.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card align-items-center text-center p-3">
            <img
              src="assets/company/communityIconn.jpg"
              class="card-img-top"
              alt="Community Image"
            />
            <div class="card-body">
              <h5 class="card-title">Diversity</h5>
              <p class="card-text">
                We believe that diversity can inspire innovation and foster a
                welcoming environment. SprintPark values the distinct viewpoints
                and experiences that each individual brings to the table, and we
                welcome diversity.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 secondColumn pb-5">
      <img src="assets/company/valueImage.jpg" alt="Value Image" class="mt-4" />
      <p class="mt-5 pe-5">
        We stand for delivering cutting-edge technology solutions tailored to
        elevate your business. Our commitment is to provide smart, strategic,
        and scalable IT solutions that empower your organization's growth. Our
        dedicated customer support team is committed to ensuring that your
        experience with our IT development services is smooth, transparent, and
        exceeds your expectations.
      </p>
      <button class="btn me-1 btnn mt-3">
        <a href="/contactUs" class="text-black text-decoration-none"
          >Contact Us</a
        >
        <i class="fa fa-chevron-right ms-2 custom-icon" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
<div class="subHeroImage mb-5">
  <img src="assets/company/companySubHero2.png" alt="Company Sub Hero" />
</div>

<!-- Mission and Vision -->
<div class="container text-start missionVision mb-5 mt-5">
  <div
    class="row row-cols-2 d-flex justify-content-center align-items-center g-5"
  >
    <div class="col d-flex justify-content-center align-items-center">
      <img
        class="card-img-top img-fluid w-100"
        src="assets/companyVision.png"
        alt="Company Vision"
        style="max-height: 300px; object-fit: cover"
      />
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="cardData">
        <h3 class="card-title mb-3">Vision</h3>
        <p class="card-text">
          Our ultimate objective is to be the most trusted provider of
          technology solutions, recognized for our dedication to quality,
          innovative thinking, and client fulfilment. Our goal is to enable
          businesses to prosper in the digital era and transform the world.
        </p>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <div class="cardData">
        <h3 class="card-title mb-3">Mission</h3>
        <p class="card-text">
          Our mission is to provide inventive and accessible technological
          solutions to businesses so they can attain their goals and objectives.
          Our commitment lies in serving our clients exceptional value and
          cultivating enduring relationships based on integrity, respect, and
          mutual success.
        </p>
      </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <img
        class="card-img-top img-fluid w-100"
        src="assets/companyMission.png"
        alt="Company Mission"
        style="max-height: 300px; object-fit: cover"
      />
    </div>
  </div>
</div>

<!-- Partners -->
<div class="partners mt-5 container">
  <h1 class="text-center">WE ARE BACKED BY THE BEST</h1>
  <h5 class="mb-5 text-center">
    We collaborate closely with industry leaders to offer cutting-edge
    solutions, <br />
    SprintPark's strategic alliances include:
  </h5>
  <div class="row mb-5 px-5 d-flex justify-content-center">
    <div class="col">
      <img src="assets/home/microsoft.png" alt="Microsoft" />
    </div>
    <div class="col"><img src="assets/home/google.png" alt="Google" /></div>
    <div class="col"><img src="assets/home/aws.png" alt="AWS" /></div>
  </div>
  <div class="row mb-5 px-5 d-flex justify-content-center">
    <div class="col">
      <img src="assets/home/cloudbees.png" alt="Cloudbees" />
    </div>
    <div class="col"><img src="assets/home/copado.png" alt="Copado" /></div>
    <div class="col">
      <img src="assets/home/salesforce.png" alt="Salesforce" />
    </div>
  </div>
</div>
