h2,
h4 {
  font-weight: bold;
  color: #383838;
}

p {
  color: #747474;
}

.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.why {
  background-image: url("../../../../assets/backDesign.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
