<div class="container p-5">
  <div class="row">
    <!-- Left Side - Image -->
    <div class="col">
      <a href="" class="navbar-brand ms-5">
        <img src="assets/logoBlue.png" class="logo-img" alt="logoImg" />
      </a>
      <h5 class="mt-2">
        <em>Employee Login – Secure access to your workspace.</em>
      </h5>

      <img
        src="assets/dashboard/SignInImg.jpg"
        alt="Login Image"
        class="img-fluid"
      />
    </div>

    <!-- Right Side - Login Form -->
    <div class="col mt-5">
      <div class="modal-content rounded-4 shadow mt-5">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h2 class="mb-0 fs-4">
            Welcome to
            <a
              href=""
              style="text-decoration: none; color: #0a2250"
              class="fw-bold fs-2"
              >SprintPark</a
            >
          </h2>
        </div>

        <div class="modal-body p-5 pt-0">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Username Field -->
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control rounded-3"
                id="floatingInput"
                placeholder="Your Name"
                formControlName="username"
                [ngClass]="{
                  'is-invalid': submitted && controls['username'].invalid
                }"
              />
              <label for="floatingInput">User Name</label>
              <!-- <div *ngIf="controls['username'].touched && controls['username'].invalid" class="invalid-feedback">
                  <span *ngIf="controls['username'].errors?.required">Username is required.</span>
                   </div> -->
            </div>

            <!-- Password Field -->
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control rounded-3"
                id="floatingPassword"
                placeholder="Password"
                formControlName="password"
                [ngClass]="{
                  'is-invalid': submitted && controls['password'].invalid
                }"
              />
              <label for="floatingPassword">Password</label>

              <!-- <div *ngIf="controls['password'].touched && controls['password'].invalid" class="invalid-feedback">
                  <span *ngIf="controls['password'].errors['required']">Password is required.</span>
                  </div> -->
            </div>

            <!-- Remember Me & Forgot Password -->
            <div class="d-flex justify-content-between mb-3 mt-2">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="agree"
                  formControlName="agree"
                  [ngClass]="{
                    'is-invalid': submitted && controls['agree'].invalid
                  }"
                />
                <label class="form-check-label" for="agree">Remember Me</label>

                <div
                  *ngIf="submitted && controls['agree'].invalid"
                  class="invalid-feedback"
                >
                  You must accept the terms.
                </div>
              </div>
              <div>
                <a href="#" style="color: blueviolet">Forgot Password?</a>
              </div>
            </div>

            <!-- Submit Button -->
            <button
              class="w-100 mb-2 btn btn-lg rounded-3"
              type="submit"
              style="background-color: blueviolet; color: white"
            >
              Login
            </button>
            <hr class="my-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
