header {
  i {
    color: white;
  }
  background-color: #063181;
}
.custom-icon {
  font-size: 20px;
  display: block;
  margin: auto;
  margin-bottom: 0.25rem;
}

a {
  font-size: small;
  color: #0a2250;
}
