<div>
  <header class="p-2 mb-1 border-bottom">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-between">
        <a
          href="/"
          class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
        >
          <img
            src="assets/sprintpark-web-logo.png"
            alt="Logo"
            height="45"
            role="img"
            aria-label="Bootstrap"
          />
        </a>
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ms-3"
        >
          <li>
            <a href="#" class="nav-link px-2 link-body-emphasis">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link px-2 link-body-emphasis">
              <i class="fa fa-bell" aria-hidden="true"></i>
            </a>
          </li>
        </ul>

        <!-- Center Section: Navigation Links -->
        <div class="d-flex justify-content-center flex-grow-1">
          <ul
            class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small text-center"
          >
            <li>
              <a href="/employeeDashboard" class="nav-link text-white">
                <i class="fa fa-home custom-icon"></i>
                Home
              </a>
            </li>
            <li>
              <a href="/companyProfile" class="nav-link text-white">
                <i class="fa fa-building custom-icon"></i>
                Company
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="fa fa-inr custom-icon"></i>
                Payroll
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="fa fa-calendar custom-icon"></i>
                Attendance
              </a>
            </li>
            <li>
              <a href="/directory" class="nav-link text-white">
                <i class="fa fa-newspaper-o custom-icon"></i>
                Directory
              </a>
            </li>
            <li>
              <a href="#" class="nav-link text-white">
                <i class="fa fa-calendar-minus-o custom-icon"></i>
                Leaves
              </a>
            </li>
          </ul>
        </div>

        <!-- Right Side: Search and User Dropdown -->
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input
            type="search"
            class="form-control"
            placeholder="Search..."
            aria-label="Search"
          />
        </form>

        <div class="dropdown text-end">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-white"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://github.com/mdo.png"
              alt="mdo"
              width="32"
              height="32"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Change Password</a></li>
            <li><a class="dropdown-item" href="#">Change Name</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
</div>
