<div class="container mt-3 mb-5">
  <h1 class="text-center p-5">Why choose us?</h1>
  <div class="row">
    <div *ngFor="let card of cards" class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card align-items-center text-center p-3 h-100 border-0">
        <img [src]="card.imgSrc" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">
            <strong>{{ card.title }}</strong>
          </h5>
          <p class="card-text">{{ card.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
