<app-dashboard-header></app-dashboard-header>
<div class="leaveSection">
  <div class="container p-0">
    <div>
      <div class="text-end mb-4">
        <button
          class="btn btnn mt-4"
          data-bs-toggle="modal"
          data-bs-target="#applyLeaveModal"
        >
          Apply Leave
        </button>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
          <div class="card p-2">
            <div class="card-header d-flex justify-content-between">
              <h5>Casual Leave</h5>
              <i class="fa fa-calendar slot-icon" aria-hidden="true"></i>
            </div>
            <div class="card-body align-items-center">
              <div class="d-flex justify-content-between">
                <p>Credited Leaves</p>
                <p>1.75</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Total Leaves</p>
                <p>7</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Applied Leaves</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card p-2">
            <div class="card-header d-flex justify-content-between">
              <h5>Sick Leave</h5>
              <i
                class="fa fa-calendar-check-o slot-icon1"
                aria-hidden="true"
              ></i>
            </div>
            <div class="card-body align-items-center">
              <div class="d-flex justify-content-between">
                <p>Credited Leaves</p>
                <p>2.5</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Total Leaves</p>
                <p>10</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Applied Leaves</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card p-2">
            <div class="card-header d-flex justify-content-between">
              <h5>Loss of Pay</h5>
              <i
                class="fa fa-calendar-minus-o slot-icon2"
                aria-hidden="true"
              ></i>
            </div>
            <div class="card-body align-items-center">
              <div class="d-flex justify-content-between">
                <p>Credited Leaves</p>
                <p>---</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Total Leaves</p>
                <p>365</p>
              </div>
              <div class="d-flex justify-content-between">
                <p>Applied Leaves</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Apply Leave Modal -->
    <div
      class="modal fade"
      id="applyLeaveModal"
      tabindex="-1"
      aria-labelledby="applyLeaveModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content bg-white text-black">
          <div class="modal-header bg-white text-black">
            <h4 class="modal-title" id="applyLeaveModalLabel">
              Apply for Leave
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body bg-white text-black">
            <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
              <!-- Type of Leave -->
              <div class="mb-3">
                <label for="typeOfLeave" class="form-label"
                  >Type of Leave</label
                >
                <select
                  id="typeOfLeave"
                  formControlName="typeOfLeave"
                  class="form-select"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('typeOfLeave') }"
                >
                  <option value="" disabled>Select Leave Type</option>
                  <option value="casual">Casual Leave</option>
                  <option value="sick">Sick Leave</option>
                  <option value="lop">Loss of Pay</option>
                </select>
                <div
                  *ngIf="isFieldInvalid('typeOfLeave')"
                  class="invalid-feedback"
                >
                  Type of leave is required.
                </div>
              </div>

              <!-- Start Date (First Half) -->
              <div class="mb-3">
                <label for="startDate" class="form-label"
                  >Start Date (First Half)</label
                >
                <input
                  type="date"
                  id="startDate"
                  formControlName="startDate"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('startDate') }"
                />
                <div
                  *ngIf="isFieldInvalid('startDate')"
                  class="invalid-feedback"
                >
                  Start date is required.
                </div>
              </div>

              <!-- End Date (Second Half) -->
              <div class="mb-3">
                <label for="endDate" class="form-label"
                  >End Date (Second Half)</label
                >
                <input
                  type="date"
                  id="endDate"
                  formControlName="endDate"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('endDate') }"
                />
                <div *ngIf="isFieldInvalid('endDate')" class="invalid-feedback">
                  End date is required.
                </div>
              </div>

              <!-- Reason -->
              <div class="mb-3">
                <label for="reason" class="form-label">Reason</label>
                <textarea
                  id="reason"
                  formControlName="reason"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': isFieldInvalid('reason') }"
                ></textarea>
                <div *ngIf="isFieldInvalid('reason')" class="invalid-feedback">
                  Reason is required.
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer bg-white text-black">
            <button
              type="submit"
              [disabled]="leaveForm.invalid"
              class="btn btn-primary"
              (click)="onSubmit()"
            >
              Apply
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row gx-5">
      <!-- Table Section -->
      <div class="col-lg-8 col-md-8 mt-3 tableSection mb-3 rounded">
        <div class="rounded mt-3" style="overflow-x: auto">
          <h5
            class="text-start p-3 fw-bold"
            style="
              background-image: linear-gradient(
                rgb(248, 134, 176),
                rgb(231, 202, 154)
              );
            "
          >
            Leave Logs
          </h5>

          <div class="table-responsive">
            <table class="table table-striped mx-auto rounded">
              <thead class="table-light">
                <tr>
                  <th scope="col" class="h6 py-3">Type</th>
                  <th scope="col" class="h6 py-3">Start Date</th>
                  <th scope="col" class="h6 py-3">End Date</th>
                  <th scope="col" class="h6 py-3">Days</th>
                  <th scope="col" class="h6 py-3">Applied On</th>
                  <th scope="col" class="h6 py-3">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let leaveRecord of paginatedRecords">
                  <td>{{ leaveRecord.typeOfLeave }}</td>
                  <td>{{ leaveRecord.startDate }}</td>
                  <td>{{ leaveRecord.endDate }}</td>
                  <td>{{ leaveRecord.days }}</td>
                  <td>{{ leaveRecord.appliedDate }}</td>
                  <td>{{ leaveRecord.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a
                  class="page-link"
                  aria-label="Previous"
                  (click)="changePage(currentPage - 1)"
                  ><span aria-hidden="true">&laquo;</span></a
                >
              </li>

              <li
                *ngFor="let page of [].constructor(totalPages()); let i = index"
                class="page-item"
                [class.active]="currentPage === i + 1"
              >
                <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
              </li>

              <li
                class="page-item"
                [class.disabled]="currentPage === totalPages()"
              >
                <a
                  class="page-link"
                  aria-label="Next"
                  (click)="changePage(currentPage + 1)"
                  ><span aria-hidden="true">&raquo;</span></a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Graph Section -->
      <div class="col-lg-4 col-md-4 mt-3">
        <!-- Calendar Section -->
        <div class="calender rounded">
          <h5 class="text-center fw-bold">Holiday Calendar</h5>
          <p-calendar class="max-w-full" [(ngModel)]="date" [inline]="true" />
        </div>
      </div>
    </div>
  </div>
</div>
