.leaveSection {
  background-color: #f4f4f4;
}

.btnn {
  background-color: #0d9fbc;
  border-radius: 2rem;
  text-align: center;
  box-shadow: 0 2px 2px #047288;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  .card-header {
    .slot-icon,
    .slot-icon1,
    .slot-icon2 {
      color: white;
      border-radius: 50%;
      padding: 1rem;
    }

    .slot-icon {
      background-image: linear-gradient(rgb(29, 197, 57), rgb(46, 180, 242));
    }
    .slot-icon1 {
      background-image: linear-gradient(rgb(63, 29, 197), rgb(46, 180, 242));
    }
    .slot-icon2 {
      background-image: linear-gradient(rgb(197, 29, 197), rgb(222, 242, 46));
    }
  }
  h5 {
    font-weight: bold;
  }
}

.tableSection {
  box-shadow: 0 4px 8px 0 rgba(108, 107, 107, 0.2),
    0 6px 20px 0 rgba(84, 83, 83, 0.19);
  .table tr {
    height: 70px;
    text-align: center;
    td {
      color: rgb(95, 95, 95);
      font-size: 14px;
    }

    th {
      color: #19428e;
      font-weight: bold;
    }
  }

  .page-link {
    color: #19428e;
    background-color: white;
  }
}

/* Calendar Customization */
::ng-deep .p-datepicker-header {
  background-image: linear-gradient(
    rgb(164, 176, 249),
    rgb(144, 219, 235)
  ) !important;
}

/* Responsive Design for Small Screens */
@media (max-width: 767px) {
  .row {
    flex-direction: column;
  }

  .col-12 {
    width: 100%;
  }

  .table-responsive {
    width: 100%;
  }
}
